
<section class="section-content">

  <h1 class="text-center mt-2 mb-2">
    Choose a letter and you will get a recipe for that letter
  </h1>

  <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7  ">
    @for (letter of abecedarioFood; track $index) {
      <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-1">

        <h2 class="mb-1 text-xl font-bold tracking-tight text-gray-900 dark:text-white m-2"> {{letter}} </h2>


      </div>
      }
  </div>
</section>
